@import url("https://fonts.googleapis.com/css2?family=Almarai&display=swap"); // main font
$main-font: "Almarai", sans-serif;

$gold-color: #ffd333;
$dark-color: #3d464d;
* {
  font-family: $main-font;
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
.navbar {
  padding: 10px 30px;
}
.container {
  max-width: 1443px;
}
@media (max-width: 575px) {
  .navbar {
    padding: 10px 10px;
  }
}
.ModalItem {
  text-align: center;
}
.ModalPrice {
  font-weight: bold;
  font-size: 25px;
  text-align: center;
}
.ModalClose {
  font-size: 30px;
  cursor: pointer;
}
.ModalDesc {
  padding: 15px 0;
}
.ModalHead {
  font-weight: bold;
}
.ModalImg {
  width: 300px;
  margin: 40px auto;
  display: block;
}
.Selected {
  background-color: blue !important;
  color: white !important;
}
.SelectedCart {
  border: 2px solid blue;
}
body {
  background-color: #f5f5f5;
  overflow-x: hidden;
}
.BtnDrop-Menu {
  &:hover {
    .DropedMenu {
      display: block;
    }
  }
}
.true {
  border-color: #ced4da;
  border-width: 1px;
}
.false {
  border-color: red;
  border-width: 3px;
}
.subtrue {
  color: green;
  font-size: 50px;
}
.trueLgin {
  margin-top: 80px;
  text-align: center;
  display: block;
}
.trueShop {
  margin: 20px auto;
  background-color: $gold-color;
  color: $dark-color;
  display: block;
  width: 150px;
  font-size: 18px;
  text-align: center;
}
